#characterDisplays {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;

    .nextCharacterButton {
        cursor: pointer;
        width: 32px;
        height: 32px;
        margin-top: 50px;
    }
    .transformCharacterButton {
        cursor: pointer;
        width: 32px;
        height: 32px;
    }
}
