@font-face {
    font-family: 'Felina Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('Felina Gothic'),
         local('FelinaGothic-Regular'),
         url(FelinaT26_Gothic_Regular.otf) format('truetype');
}
// TO DO - Factor this out somewhere

.objectives-board {
    width: 80%;
    height: 40%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    .position-relative {
        
        position: relative;

        .objectives-board-background {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .objectives {
            width: 50%;
            position: absolute;
            font-weight: 700;
            font-size: 18px;
            color: white;
            letter-spacing: 1.5px;
            font-family: FelinaGothic-Regular;
        }
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
