#storyModeMenu {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .left {
        display: flex;
        flex-direction: column;
        flex: 2;
        height: 100%;
        .battle-ground {
            flex: auto;
            flex-grow: 1;
            .background {
                position: absolute;
                width: 40%;
                height: 90%;
            }
            .empty-container-on-top-of-background {
                position: absolute;
                width: 40%;
                height: 90%;
                .position-relative {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .header {
                        width: 100%;
                        height: 100px;
                        top: 0;
                        position: absolute;
                        background-color: rgba(255,255,255,0.5);
                        display: flex;
                        flex-direction: column;
                        .backButton {
                            position: absolute;
                            background-color: white;
                            width: 100px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid black;
                            border-right: 1px solid black;
                            border-bottom-right-radius: 50%;
                            cursor: pointer;
                            font-weight: 700;
                        }
                        .row {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-bottom: 1px;
                            margin-top: 1px;
                            align-items: center;
                            .sagaBox {
                                width: 300px;
                                height: 50px;
                                border: 1px solid black;
                                background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: 600;
                                font-size: 30px;
                                color: black;
                                border-top-left-radius: 25px;
                                border-top-right-radius: 25px;
                                border-bottom-left-radius: 25px;
                                border-bottom-right-radius: 25px;
                            }
                            .currentBattle {
                                width: 200px;
                                height: 40px;
                                border: 1px solid black;
                                background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: 500;
                                font-size: 18px;
                                border-top-left-radius: 15px;
                                border-top-right-radius: 15px;
                                border-bottom-left-radius: 15px;
                                border-bottom-right-radius: 15px;
                            }
                        }
                    }
                    .characterDisplays {
                        position: absolute;
                        width: 100%;
                        height: 20%;
                        bottom: 0;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .fight-button {
            width: 100%;
            height: 10%;
            background: radial-gradient(circle, rgba(76,255,0,1) 0%, rgba(30,102,0,1) 100%);
            font-size: 45px;
            font-weight: 700;
            color: white;
            text-align: center;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            border-top: 3px solid black;
            box-sizing: border-box; // positions border inside div rather than outside
        }
        .fight-button:hover {
            background: radial-gradient(circle, rgba(129,255,76,1) 0%, rgba(59,193,3,1) 100%);
            box-shadow: 1px 1px 20px rgba(76,255,0,1);
        }
    }
    .divider {
        width: 2px;
        height: 100%;
        background-color: black;
    }
    .right {
        flex: 3;
        height: 100%;
        background-color: #D3D3D3;
        display: flex;
        flex-direction: column;

        .battle-thumbnail {
            // flex: 0 1 auto;
            flex-grow: 4.5;
        }
        .bottom-container {
            flex-grow: 1;
            // flex: 0 1 125px;
            border: 1px solid black;

            .all-character-slots {
                flex-grow: 60%;
                display: flex;
                flex-direction: row;
                .character-slots {
    
                    width: 50%;
                    height: 75px;
                    display: flex;
                    flex-direction: row;
        
                    .character-slot {
                        background-color: #E5E5E5;
                        width: 12.5%;
                        margin-left: 3px;
                        margin-right: 3px;
                        box-shadow:
                            0 0 0 1px #BCBCBC,
                            0 0 0 2px #868686,
                            0 0 0 3px #575757;
                        position: relative;
                        .selected-slot {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border: 2px solid white;
                            box-shadow: 0 0 6px 3px #FFAA00;
                            box-sizing: border-box;
                            cursor: pointer;
                        }
                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
                        .glow-on-hover {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
                        .glow-on-hover:hover {
                            box-shadow: 
                                0 0 15px 7px #fff,
                                0 0 25px 15px #FFAA00;
                        }
                        .cursor-pointer {
                            cursor: pointer;
                        }
                    }
                }
                margin-bottom: 3px;
            }
            .bottom-labels {
                flex-grow: 40%;
                display: flex;
                flex-direction: row;

                img {
                    width: 50%;
                    height: 100%;
                }
            }
        }
    }
}
