#MainMenu {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    .buttonContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 2;
    }

    .button {
        width: 500px;
        height: 100px;
        background-color: #FEB0E7;
        color: white;
        font-weight: 700;
        font-size: 40px;
        cursor: pointer;
        border: 1px solid #DA2254;
    }
}
