#nextButton {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 50px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    border: 2px solid black;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}