.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../public/sprites/cool_background.jpg");
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 1px solid black;
}
